h1{
    text-align: center;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    text-align: left;
    font-size: 40px;
    padding:30px;
    margin-left:70px;
}
img{
    display: inline;
    margin-bottom:160px;
    width: 33%;
}
div.header{
    float: right;
    display:inline-block;
    position:relative;
    width:60%;
    overflow:auto;
    top:70px;
    padding:15px;
    margin:14px;
}
div.body{
    display: block;
}
ul li{
    font-size:40px;
}
.column{
    display:inline-block;
    margin: 15px;
    width:30%;
}